<!-- app/views/sessions/friendlog_acc_registration.html.erb -->

<html>
<head>
  <title>Request Account</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%# <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'validate_registration' %>
  <%= stylesheet_link_tag 'friendlog_acc_registration' %>
  <% if flash[:alert_success] %>
    <meta http-equiv="refresh" content="0.5; URL=<%= request.fullpath %>?show_modal=true">
  <% end %>
</head>
<body>
<div class="BiggestDiv">
  <div class="FitContentDiv">
    <section class="section-top">
      <div class="left-back">
        <%= link_to "/lobby", id: "btn-login" do %>
            <i class="fa-solid fa-chevron-left fa-xl" style="color: #6c757d;"></i>
            <%# <div class="btn btn-secondary">
                back
            </div> %>
          <% end %>
      </div>
      <div class="logoDiv">
        <%= image_tag "logo-without-text.png", id: "logo-image" %> 
        <h4 class="imageContext">Request Account</h4>   
      </div>
    </section>
    <div class="form">
      <%= form_with url: register_path, method: :post, html: { id: 'registrationForm' } do |form| %>
      
        <div class="InputRow" id="Nameinput">
          <div class="InputLabel">
            <%= form.label :"First Name", for: 'firstname-field',style: "display: block"  %>
            <div class="Input-container">
              <%= form.text_field :firstname, class: 'require_value input-field input-container-inner', id: 'firstname-field', autocomplete: 'given-name',value: flash[:form_data].present? ? flash[:form_data][0] : "",placeholder: "ex.Somnet" %>
              </div>
              <% if flash[:error_messages].present? %>
                <% if flash[:error_messages].include?("Please enter your First Name.") || flash[:error_messages].include?("Please use only English letter in First Name.") %>
                  <p class="error-message">
                    <% if flash[:error_messages].include?("Please enter your First Name.") %>
                      Please enter your First Name.
                    <% elsif flash[:error_messages].include?("Please use only English letter in First Name.") %>
                      Please use only English letter in First Name.
                    <% end %>
                  </p>
                <% end %>
              <% end %>
          </div>
          <div class="InputLabel">
            <%= form.label :"Last Name", for: 'lastname-field', style: "display: block" %>
            <div class="Input-container">
              <%= form.text_field :lastname, class: 'require_value input-field input-container-inner', id: 'lastname-field',  autocomplete: 'family-name' ,value: flash[:form_data].present? ? flash[:form_data][1] : "", placeholder: "ex.Sirinet" %>
            </div>
              <% if flash[:error_messages].present? %>
                <% if flash[:error_messages].include?("Please enter your Last Name.") || flash[:error_messages].include?("Please use only English letter in Last Name.") %>
                  <p class="error-message">
                    <% if flash[:error_messages].include?("Please enter your Last Name.") %>
                      Please enter your Last Name.
                    <% elsif flash[:error_messages].include?("Please use only English letter in Last Name.") %>
                      Please use only English letter in Last Name.
                    <% end %>
                  </p>
                <% end %>
              <% end %>
          </div>
        </div>
        <div class="InputRow">
          <div class="InputLabel">
            <%= form.label :username,  for: 'username-field',style: "display: block" %>
            <div class="Input-container">
              <%= form.text_field :username, class: 'require_value input-field input-container-inner', id: 'username-field' ,autocomplete: 'username',value: flash[:form_data].present? ? flash[:form_data][2] : "",placeholder: "ex.Net" %>
             </div> 
              <% if flash[:error_messages].present? %>
                <% if flash[:error_messages].include?("Please enter your username.") || flash[:error_messages].include?("Please use only English letter") %>
                  <p class="error-message">
                    <% if flash[:error_messages].include?("Please enter your username.") %>
                      Please enter your username.
                    <% elsif flash[:error_messages].include?("Please use only English letter") %>
                      Please use only letter
                    <% end %>
                  </p>
                <% end %>
              <% end %>
          </div>

          <div class="InputLabel">
            <%= form.label :phone, for: 'phone-field', style: "display: block" %>
            <div class="Input-container">
             <%= form.text_field :phone, class: 'require_value input-field input-container-inner', id: 'phone-field', maxlength: 10, autocomplete: 'tel-national' , value: flash[:form_data].present? ? flash[:form_data][3] : "" ,placeholder: "0XXXXXXXXX"%>
            </div>
            <% if flash[:error_messages].present? %>
              <% if flash[:error_messages].include?("Please enter your phone number.") || flash[:error_messages].include?("Invalid phone number format.") %>
                <p class="error-message">
                  <% if flash[:error_messages].include?("Please enter your phone number.") %>
                    Please enter your phone number.
                  <% elsif flash[:error_messages].include?("Invalid phone number format.") %>
                    Invalid phone number format.
                  <% end %>
                </p>
              <% end %>
            <% end %>
        </div>
        <div class="InputRow">
          <div class="InputLabel">
            <div><%= form.label :email ,'Email', style: "display: block" ,for: 'email-field'%><span>please use your own email.</span>
            </div>
            <div class="Input-container">
              <%= form.text_field :email, class: 'require_value input-field input-container-inner', id: 'email-field',autocomplete: 'email' ,value: flash[:form_data].present? ? flash[:form_data][4] : "" ,placeholder: "john@example.com"%>
            </div>  
              <% if flash[:error_messages].present? %>
                <% if flash[:error_messages].include?("Please enter your email.") || flash[:error_messages].include?("Invalid email address.")%>
                  <p class="error-message">
                    <% if flash[:error_messages].include?("Please enter your email.") %>
                      Please enter your email.
                    <% elsif flash[:error_messages].include?("Invalid email address.") %>
                      Invalid email address.
                    <% end %>
                  </p>
                <% end %>
              <% end %>
          </div>
          <div class="InputLabel">
            <%= form.label :type, style: "display: block" %>  
            <div class="Input-container">
              <%= form.select :type, 
                  options_for_select([['Please select your type.', { disabled: true, selected: true, value: '' }], ['Intern', 'Intern'], ['Coop', 'Coop']], 
                  flash[:form_data].present? ? flash[:form_data][5] : nil), {}, 
                  { class: 'require_value input-field input-container-inner selecter custom-select' } %>
            </div>      
              <% if flash[:error_messages].present? && flash[:error_messages].include?("Please select your type.") %>
                <p class="error-message">Please select your type.</p>
              <% end %>
            </div>
        </div>

        <div class="InputLabel" id=>
          <%= form.label :note, style: "display: block" %>
          <div class="Input-container">
           <%= form.text_area :note, class: 'input-field input-container-inner', style:'height:6em; padding: 0.5em 1em', value: flash[:form_data].present? ? flash[:form_data][6] : ""  %> 
          </div>
        </div>

        <div class="button justify-content-between sec-btn">
          <div>
           <%= form.submit "Submit", class: "btn btn-submit", id: "btn-field" %>
         </div>
        </div>
        <% if params[:show_modal] %>
            <%= render 'sessions/registrationModel' %>
        <% end %>
      
      <% end %>
      
    </div>
  </div>
</div>

</body>
</html>
