<div id="<%= dom_id reserve %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= reserve.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start timer:</strong>
    <%= reserve.start_timer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End timer:</strong>
    <%= reserve.end_timer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Note:</strong>
    <%= reserve.note %>
  </p>

</div>
