<div data-controller="reserves" class="w-[90%] pt-6 max-w-[1300px] m-auto">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% content_for :title, "Reserves" %>
    <div class="flex justify-between items-center mb-6">
      <h1 class="font-bold text-4xl">Rooms Reserves</h1>
      <div class="flex flex-row gap-2 items-center">
        <h1><%= @getEmail %></h1>
        <%= link_to logout_path, method: :get, class: "btn btn-secondary border ml-4 p-2 rounded-md" do %>
          <i class="fa-solid fa-right-from-bracket pe-1"></i> Logout
        <% end %>
        <button data-modal-open data-action="click->reserves#option" class="btn btn-primary ml-4 p-2 rounded-md">
          Open Modal
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="flex max-w-[1300px] max-h-64 m-auto w-full bg-slate-100 border border-slate-300 overflow-hidden mb-5 rounded-lg">
      <turbo-frame id="calendar">
        <%= render partial: 'calendar', locals: { selected_date: @selected_date, days_in_month: @days_in_month, rooms: @rooms, alert: @alert_message } %>
      </turbo-frame>
      <div class="w-full p-4 overflow-auto">
        <h2 class="font-medium">Your booking on <span class="text-gray-500 font-normal"> <%= @selected_date.strftime("%B %d, %Y") %> </span></h2>
        <% @this_user_bookings.each do |booking| %>
          <div class="bg-white border p-2 w-full rounded-md mt-2 flex flex-row justify-between">
            <h2 class="text-sm"><span class="font-semibold mr-2"><%= @rooms[booking.roomId.to_i][:room_name] %></span><%= booking.note%></h2>
            <div class="flex flex-row items-center gap-4">
              <h3 class="text-sm"><%= booking.start_timer %> - <%= booking.end_timer %></h3>
              <%# <i class="fa-solid fa-circle-xmark text-gray-400"></i> %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
    <h1>
    </h1>
    <div class="flex max-w-[1300px] m-auto w-full mb-6">
      <table class="w-max border-collapse text-gray-600">
        <thead>
          <tr class="bg-neutral-100 text-[1rem]">
            <th class="top-0 left-0 z-3 bg-neutral-100 border border-slate-300 text-center h-[60px] min-w-[120px]">
              <i class="fa-solid fa-door-open mr-2"></i> Room
            </th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td class="left-0 z-2 border-r-slate-300 border border-slate-300 text-right pr-3 h-[60px] font-medium bg-neutral-100 select-none">
                <%= room[:room_name] %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="w-full overflow-x-scroll border-r border-r-slate-300 hidden-scroll hide-scrollbar">
        <table class="h-full text-gray-600" data-controller="reserves">
          <thead>
            <tr class="bg-neutral-100 text-[1rem]">
              <% 22.times do |i| %>
                <th 
          class="bg-gray-100 z-1 h-[60px] border border-t-slate-300 <%= i.even? ? 'border-r-transparent border-l-transparent' : 'border-r-slate-300 border-l-slate-300' %> border-b-slate-300 min-w-[60px] <%= i == 21 ? 'border-r-transparent' : '' %>" 
          colspan="1">
                  <%= "#{i / 2 + 8}:00" if i.even? %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @rooms.each_with_index do |room, room_index| %>
              <tr class="h-[50px]">
                <% current_hour_index = 0 %>
                <% while current_hour_index < 22 %>
                  <% current_time = (current_hour_index / 2 + 8).to_s.rjust(2, '0') + (current_hour_index.even? ? ":00" : ":30") %>
                  <% reserve = @reserves.find { |r| r.roomId.to_i == room_index + 1 && r.date == @selected_date.to_s && r.start_timer == current_time } %>
                  <% if reserve %>
                    <% start_time = Time.parse(reserve.start_timer) %>
                    <% end_time = Time.parse(reserve.end_timer) %>
                    <% duration = ((end_time - start_time) / 1800).to_i %> <!-- duration in 30-minute slots -->
                    <td 
                        class="text-white border min-w-[60px] text-center p-0 transition duration-300"
                        colspan="<%= duration %>"
                        data-room="<%= room_index %>" 
                        data-hour="<%= start_time.strftime('%H:%M') %>"
                        data-booking-table-target="cell">
                        <button class="w-full bg-blue-300 hover:bg-blue-400 h-full" data-controller="modal-detail" data-action="click->modal-detail#navigate" data-reserve-id="<%= reserve.id %>" data-selected-date="<%= @selected_date %>">
                          <%= reserve.note %>
                        </button>
                    </td>
                    <% current_hour_index += duration %>
                  <% else %>
                    <td 
                      class="border border-slate-200 min-w-[60px] text-center cursor-pointer p-0 transition duration-300"
                      data-action="mousedown->reserves#handleStart mousemove->reserves#handleMove mouseup->reserves#handleEnd touchmove->reserves#handleTouchMove"
                      data-room="<%= room_index %>" 
                      data-hour="<%= (current_hour_index / 2 + 8).to_s.rjust(2, '0') + (current_hour_index.even? ? ":00" : ":30") %>" 
                      data-end-time="<%= ((current_hour_index + 1) / 2 + 8).to_s.rjust(2, '0') + (current_hour_index.even? ? ":30" : ":00") %>"
                      data-reserves-target="cell">
                    </td>
                    <% current_hour_index += 1 %>
                  <% end %>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <%= render 'reserves/modalform' %>
</div>
<%= render 'reserves/modalform' %>

<% if @reserve.present? %>
  <%= render 'reserves/modal_detail', reserve: @reserve %>
<% end %>
