<div data-controller="reserves" class="w-[95%] pt-6 max-w-[1300px] m-auto">
  <div class="w-full">
    <!--- <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %> --->
    <% content_for :title, "Reserves" %>
    <div class="flex justify-between items-center mb-6">
      <h1 class="font-bold text-4xl">Rooms Reserves</h1>
      <div class="flex flex-row gap-2 items-center">
        <h1><%= @getEmail %></h1>
        <%= link_to logout_path, method: :get, class: "btn btn-secondary border ml-4 p-2 rounded-md" do %>
          <i class="fa-solid fa-right-from-bracket pe-1"></i> Logout
        <% end %>
      </div>
    </div>
  </div>
    <div class="flex max-w-[1300px] h-[256px] m-auto w-full bg-slate-100 border border-slate-300 overflow-hidden mb-5 rounded-lg">
      <turbo-frame id="calendar">
        <%= render partial: 'calendar', locals: { selected_date: @selected_date, days_in_month: @days_in_month, rooms: @rooms, alert: @alert_message } %>
      </turbo-frame>
      <div class="w-full p-4 overflow-auto">
        <turbo-frame id="user_bookings">
          <h2 class="font-medium">Your booking on <span class="text-gray-500 font-normal"> <%= @selected_date.strftime("%B %d, %Y") %> </span></h2>
            <%= render partial: 'booking', locals: { rooms: @rooms } %>
        </turbo-frame>
      </div>
    </div>
  <div data-controller="reservations time-table-modal show-reservations reservation-detail-modal" class="flex justify-center mb-9">
    <table>
      <tr>
          <th class= "top-0 left-0 z-3 bg-neutral-100 border border-slate-300 text-center h-[60px] min-w-[120px]"> 
          <i class="fa-solid fa-door-open mr-2"></i>Room</th>
        <% ReservesController::AVAILABLE_TIME.each do |hour| %>
          <th colspan="2" class= "border h-14 w-28 p-2 text-left"> 
          <%= "#{hour.to_s.rjust(2,"0")}:00"%> 
          </th>
        <%end%>
      </tr>
      <% @rooms.each_with_index do |room, room_index| %>
        <% if room_index == 0 %>
          <tr>
            <td class="border h-14 p-0 text-nowrap pl-2">
              <%= room[:name]%>
            </td>
            <td rowspan="8" colspan="22" class="p-0 relative" data-reservations-target="table" data-show-reservations-target="table">
              <%= render "time_table"%>
            </td>
          </tr>
        <% else %>
          <tr>
            <td class=" border h-14 text-nowrap p-0 transition duration-300 pl-2">
              <%= room[:name]%>
            </td>
          </tr>
        <% end %>
      <% end %>
      <%= render partial: "time_table_modal",locals: { reserve: @reserve } %>
    </div>
  </div>
</div>

<%= render partial: "reservation_detail_modal" %>
