<div class="calendar max-w-md bg-white border-r border-slate-300 overflow-hidden p-3" data-controller="calendar" data-calendar-selected-value="<%= selected_date %>">
  <div class="calendar-header flex justify-between items-center">
    <button class="p-3 text-gray-600 hover:bg-gray-100 rounded"
            data-action="click->calendar#previousMonth">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <h2 class="text-lg font-semibold text-gray-700" data-calendar-target="selectedDate">
      <%= selected_date.strftime("%B %d, %Y") %>
    </h2>
    <button class="p-3 text-gray-600 hover:bg-gray-100 rounded"
            data-action="click->calendar#nextMonth">
      <i class="fa-solid fa-angle-right"></i>
    </button>
  </div>
  <div class="calendar-grid grid grid-cols-7 gap-2 pt-2">
    <% (1..days_in_month).each do |day| %>
      <button class="calendar-day text-center p-2 cursor-pointer rounded hover:bg-blue-100 <%= date_class(day) %>"
              data-action="click->calendar#select"
        data-date="<%= selected_date.change(day: day).to_s %>">
        <%= day %>
      </button>
    <% end %>
  </div>
</div>
