<!-- app/views/rooms/_blueprint.html.erb -->
<div data-controller="blueprint">
  <div class="relative w-auto h-auto">
    <%= image_tag "blueprint.svg", alt: "Blueprint", width: 2500, height: 1500, class: "cursor-zoom-in relative top-0 left-0 w-full h-full object-cover z-10", data: { action: "click->blueprint#toggleZoom" } %>
    <svg viewBox="0 0 2500 1500" class="absolute top-0 left-0 w-full h-full object-cover z-0" data-action="click->blueprint#toggleZoom">
      <% @rooms.each do |room| %>
        <rect
          name="<%= room[:name] %>"
          x="<%= room[:x] %>"
          y="<%= room[:y] %>"
          width="<%= room[:width] %>"
          height="<%= room[:height] %>"
          fill="<%= @selected_room_id == room[:id] ? 'rgb(96 165 250)' : 'rgb(245 245 245)' %>"
        />
        <text
          x="<%= room[:x] + room[:width] / 2 %>"
          y="<%= room[:y] + room[:height] / 2 %>"
          fill="<%= @selected_room_id == room[:id] ? '#FFFFFF' : '#000000' %>"
          text-anchor="middle"
          alignment-baseline="middle" 
          font-size="28" 
          font-weight="bold"
          >
          <%= room[:name] %>
        </text>
      <% end %>
    </svg>
  </div>

  <div id="modal" data-blueprint-target="modal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-75 hidden">
    <div class=" relative bg-white p-16 items-center rounded-3xl transition-transform duration-300" data-testid="modal-content">
      <%= image_tag "blueprint.svg", width: 800, height: 800/2, alt: "Blueprint", class: "relative object-contain z-10" %>
      <svg viewBox="0 0 2500 1500" class="p-16 absolute top-0 left-0 w-full h-full object-contain z-0">
        <% @rooms.each do |room| %>
          <rect
            name="<%= room[:name] %>"
            x="<%= room[:x] %>"
            y="<%= room[:y] %>"
            width="<%= room[:width] %>"
            height="<%= room[:height] %>"
            fill="<%= @selected_room_id == room[:id] ? 'rgb(96 165 250)' : 'rgb(245 245 245)' %>"
          />
          <text
            x="<%= room[:x] + room[:width] / 2 %>"
            y="<%= room[:y] + room[:height] / 2 %>"
            fill="<%= @selected_room_id == room[:id] ? '#FFFFFF' : '#000000' %>"
            text-anchor="middle"
            alignment-baseline="middle" 
            font-size="28" 
            font-weight="bold"
          >
            <%= room[:name] %>
          </text>
        <% end %>
      </svg>
      <button class="absolute top-2 right-2 text-black text-4xl" data-action="click->blueprint#closeModal">&times;</button>
    </div>
  </div>
</div>
